<!doctype html>
<html lang="en" ng-app="mainApp" ng-controller="imageController">
<head>

  <script>
  <!-- SITE SETTINGS -->
  var BASE_URL = '<Add your endpoint from your bucket-> Properties -> Static Website Hosting -> endpoint>';
  var BUCKET_NAME = '<Add your bucket name here>'; 
  var PREFIX = '<Add the name of the folder used for photos in your S-3 bucket>'; //prefix should end with '/'
  
  var SITE_TITLE = 'Text to be used for the site title';
  var SITE_BANNER = 'Text to be used for the site banner';
  var WELCOME_MSG = 'Text to be used for the site welcome message';
  var REGION = 'us-west-2';  // Use the actual region for your AWS bucket.
  //Sort options
  var SORT_TYPE = "ALPHABETICAL"; //NEWEST_FIRST or ALPHABETICAL 
  </script>

  <meta charset="utf-8">
  <title>{{siteTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">

  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    a:visited {
      font-weight: bold;
    }
   </style>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js" ></script>
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">

<script src="http://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc10.min.js"></script>

<script type="text/javascript">
var baseurl = BASE_URL;
var bucketName = BUCKET_NAME
var prefix = PREFIX;


var imagesS3 = new AWS.S3(REGION);

// helper function to get a listing of the AWS bucket anonymously
function unauthenticatedRequest(callback, params, s3) {
    var request = s3.listObjects(params);
    request.removeListener('validate', AWS.EventListeners.Core.VALIDATE_CREDENTIALS);
    request.removeListener('sign', AWS.EventListeners.Core.SIGN);
    request.send(callback);
}

var mainApp = angular.module('mainApp', []);

// the main controller for loading image links	  
mainApp.controller('imageController', function($scope, $http){
    var imageBucketName = BUCKET_NAME;
    $scope.imagePrefix = PREFIX;
    var imageParams = {Prefix: PREFIX, Bucket: BUCKET_NAME};

    $scope.siteTitle = SITE_TITLE;
    $scope.siteBanner = SITE_BANNER;
    $scope.siteWelcomeMsg = WELCOME_MSG;


    // variable to keep track of which image links have been visited.
    $scope.visited = [];

    var newestFirstSort = function(a, b){return b.LastModified - a.LastModified};
    var alphaSort = function(a, b){
      if (a.Key > b.Key)return 1;
      if (a.Key < b.Key)return -1;
      return 0;
    }
    var sortFunction = SORT_TYPE === "NEWEST_FIRST"?newestFirstSort:alphaSort;
    var loadImageData = function (err, data) {
		    //filter out folder name in the bucket
			  data.Contents = data.Contents.filter(function(el){if (el.Size < 1)return false; return true;});
			  //sort by LastModified date so that the most recent pictures will be first
			  data.Contents.sort(sortFunction);
			  //grab the first element in the list to display it right away
			  last = data.Contents.shift();
			  data.Contents.unshift(last);
			  $scope.imageData = data.Contents;
			  // call handleClick to display the first image
			  $scope.handleClick(last.Key);
    }
    //load all the image data from the bucket.   
    unauthenticatedRequest(loadImageData, imageParams, imagesS3);
    
    /*
    Handler for when a user clicks on one of the image links.  This will get
    the image and cause it to be displayed.
    */
    $scope.handleClick = function(imageName, id, event){
        if(imageName){
            $scope.showImage = false;
            $scope.currentImageKey = imageName;
            currentImageName = imageName.substring($scope.imagePrefix.length, imageName.length);
            imgUrl = baseurl + "/" + imageName;
            $scope.currentImageName = currentImageName;
         
            $http.get(imgUrl).success(function(){
                $scope.showImage = true; 
                $scope.currentImage = imgUrl;
                $scope.visited.push(id);
           
            }).error(function(data, status, headers, config) {
                /* Show the image anyway to handle error in  Safari   
                (XMLHttpRequest returns Origin not allowed error on all but first request) */
                $scope.showImage = true;
            });
        };
    };
       
    /*
      Handler for the "nextPicture" function.
      This will iterate through the image list, when it finds the image in the current
      list it will grab the name and modified date of the next image, and pass those 
      values to the handleClick function.
    */
    $scope.nextPicture = function(){
        var key;
        var timestamp;
        var found;
        $scope.imageData.forEach(function(a){
            if(found && !key){
                key = a.Key;
                timestamp = a.LastModified.getTime();
            } else if (a.Key == $scope.currentImageKey){
                found=true;
            }
        });
        $scope.handleClick(key, timestamp);
    }
			
 }); 
</script>
</head>

<body >
  <!--
   meow
 -->
 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">{{siteBanner}}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="hero-unit">
    <h2>{{siteBanner}}</h2>
    <p>{{siteWelcomeMsg}} </p>
  </div>

  <h3 style="text-align:center">Pictures</h3>
  <!-- main row -->
  <div class="row">
   <div class="span3" style=" max-height:550px;  height:auto !important;  height:550px; overflow:scroll">
    <ul class="unstyled">
      <li ng-repeat="name in imageData">
        <span ng-if="name.Size > 0">
          <a style="{{visited.indexOf(name.LastModified.getTime()) > 0 ?'font-weight:bold':''}}"
            ng-click="handleClick(name.Key, name.LastModified.getTime(), $event)" 
            ng-bind-template="{{name.Key.substring(imagePrefix.length, name.Key.length)}} ({{name.LastModified.getMonth()+1}}/{{name.LastModified.getUTCDate()}}/{{name.LastModified.getFullYear()}})">
          </a>
        </span>
      </li>
    </ul>

  </div>
  <div class="span9">
    <div id="imageDisplayArea">
      <a ng-click="nextPicture()">Next Picture</a>
      <h4 ng-bind-template="{{currentImageName}}"></h4>
      <span id="loadingMessage" ng-bind-template="Loading image {{currentImageName}}" ng-show="!showImage"> </span>
      <img id="currentImage" ng-src="{{currentImage}}" ng-show="showImage" >
    </div> 
  </div>
</div>
<hr />

<hr>

<footer>
  <p></p>
</footer>

</div> <!-- /container -->
<!-- Needed by bootstrap -->
<script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>
</body>
</html>
